/* CSS Style sheet for TheDangerGame */
body{
	background-color: rgba(50,30,30,1);
	color:rgba(220,220,220,0.6);
}
h1{
	color:rgba(200,140,0,1);
	margin-left:auto:
	margin-right:auto;
	text-align:center;
}
#container{
	background-color:white;
	color:black;
	width:800px;
	height:400px;
	margin-top:auto;
	margin-left:auto;
	margin-right:auto;
}
canvas{

	width:800px;
	height:400px;
	display:block;
	margin-top:auto;
	margin-left:auto;
	margin-right:auto;
}